/* App.css */

/* General Styling */

.section .title {
  color: #9b59b6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

body {
  margin: 0;
  color: #333;
  background-image: url(../../public/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Banner Styles */
.container {
  text-align: center;
  padding: 0px;
}

.header p {
  animation: scrollText 25s linear infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Courier New', Courier, monospace;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header {
  background: linear-gradient(
    to right,
    #000000 0%, /* Black */
    #001f3f 10%, /* Dark blue */
    #004080 20%, /* Medium blue */
    #0066bf 30%, /* Blue */
    #0089ff 40%, /* Light blue */
    #4da6ff 50%, /* Lighter blue */
    #99c2ff 60%, /* Very light blue */
    #ccebff 70%, /* Extremely light blue */
    #b3d9ef 80% /* Slightly darker blue */
  );
  padding: 20px;
  color: white;
  background-size: cover;
  background-position: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 60px;
}

.navbar {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar div {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ecf0f1;
}

.main-content {
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section {
  width: 320px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.section h2 {
  color: #3498db;
  margin-bottom: 10px;
}

.section p {
  font-size: 14px;
  color: #555;
}

.section a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.section a:hover {
  color: #21618c;
}

footer {
  color: white;
}