/* Introduction.css */

.channel-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.channel-column {
  flex-basis: calc(33.33% - 20px); 
  margin-bottom: 20px;
}

.thumbnail-image {
  width: 100%;
  max-width: 400px; 
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); }